
body {
    font-family: Raleway;
}

.container {
    margin: 0 auto;
    border: 1px solid; 
    margin: 0 auto;
    width: 1400px;
}

h3 {
    font-size: 22px;
    font-weight: 700;
}

/* header */

.logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

/* logo */

.header .logo {
    margin-top: 44px;
    margin-left: 55px;
}

/* nav */

.header .nav {
    margin-top: 48px;
    margin-right: 77px;
    height: 29px;
}

.header-ul {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.header-ul li {
    width: 162px;
    height: 29px;
    display: block;
}

.header .link {
    margin-right: 67px;
    height: 29px;
    width: 162px;
    display: block;
    text-align: center;
}

.header .link:hover {
    border-top: #0065FC 2px solid;
    color: #0065FC; 
    display: block;
}



/* main */

.search-text {
    margin-top: 126px;
    margin-left: 55px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
}

 /*  section-search */

 .search p {
    margin-top: 8px;
    margin-left: 55px;
    margin-bottom: 20px;
 }

 /* search-form */

.loc {
    width: 50px;
    height: 49px;
}

.loupe {
    width: 50px;
    height: 49px;
    fill: white;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
}

#ville {
    display: block;
    height: 49px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.fz-18-700 {
    font-size: 18px;
    font-weight: 700;
}

.blue {
    background-color: #0065FC;
    display: flex;
    align-items: center; 
    width: 159px;
    height: 49px;
    border-radius: 0 15px 15px 0;
}

.white {
    color: white;
}

.text-area {
    width: 332px;
    height: 49px;
    display: flex;
    align-items: center; 
    border-radius: 15px;
    border: #F2F2F2 1x solid;
}

.mars {
    display: flex;
}

.mars-search {
    display: flex;
}

.bk-loc {
    background: #F2F2F2;
    border-radius: 15px 0 0 15px;
    border: #F2F2F2 1px solid;
    display: block;
}

#rechercher {
    display: block;
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    border: none;
    width: 123px;
    height: 49px;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    right: -6px;
    bottom: -6px;
}

.main-location {
    width: 332px;
    display: flex;
    align-items: center;
}

.fieldset {
    display: flex;
    margin-left: 55px;
    margin-bottom: 32px;
}

.search-path {
    width: 14px;
    height: 18px;
    display: block;
}

/* search-filter */

.money, .man, .heart, .dog {
    width: 22px;
    height: 22px;
    fill: #0065FC;
    padding-left: 20px;
}

.filter-fb {
     display: flex;
     margin-bottom: 35px;
     margin-left: 62px;
}

.svg-filter-fb {
    display: flex;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    border: #F2F2F2 2px solid;
    justify-content: space-between;
}

.sz-money {
    width: 175px;
    height: 48px;
    margin-right: 43px;
    margin-left: 32px;
}

.sz-man {
    width: 136px;
    height: 48px;
    margin-right: 40px;
}

.sz-heart {
    width: 172px;
    height: 48px;
    margin-right: 36px;  
}

.sz-dog {
    width: 228px;
    height: 48px;
}

.filter-h3 {
    width: 54px;
    height: 21px;
}

.filter-h3 h3 {
    font-size: 18px;
    font-weight: 700; 
    line-height: 2.5;
}

.pr {
    padding-right: 20px;
    font-size: 17px;
    font-weight: 700;
}




