
html {
    width: 1400px;
    height: 2000px;
}

body {
    font-family: Raleway;
}

.container {
    margin: 0 auto;
    border: 1px solid;
    width: 100%;
    width: 1400px;
}

/* header */

.logo-nav {
    display: flex;
    justify-content: space-between;
}

/* logo */

.header .logo {
    margin-top: 44px;
    margin-left: 55px;
}

/* nav */

.header .nav {
    margin-right: 77px;
    height: 29px;
}

.header-ul {
    display: flex;  
}

.header-ul li {
    width: 162px;
    height: 40px;
}

.header .link {
    margin-right: 67px;
    height: 48px;
    width: 162px;
    display: block;
    text-align: center;
    padding-top: 48px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

.header .link:hover {
    border-top: #0065FC 2px solid;
    color: #0065FC; 
    display: block;
    font-size: 16px;
    font-weight: 400;
}

/* main */

/*  section-search */

.search-text h3 {
    margin-top: 53px;
    margin-left: 55px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
}

 .search-text p {
    margin-top: 8px;
    margin-left: 55px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;

 }

 /* search-form */

.fieldset {
    display: flex;
    margin-left: 55px;
    margin-bottom: 32px;
}

.main-location {
    width: 332px;
    display: flex;
    align-items: center;
}

.bk-loc {
    background: #F2F2F2;
    border-radius: 15px 0 0 15px;
    border: #F2F2F2 1px solid;
    display: flex;
    width: 50px;
    height: 49px;
    align-items: center;
    justify-content: center;
}

.loc {
    display: block;
    width: 14px;
    height: 18px;
}

#ville {
    display: block;
    height: 49px;
    width: 232px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.bk-loupe {
    width: 50px;
    height: 49px;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loupe {
    width: 17px;
    height: 17px;
    fill: white;
}

.blue {
    background-color: #0065FC;
    display: flex;
    align-items: center; 
    width: 159px;
    height: 49px;
    border-radius: 0 15px 15px 0;
}

.white {
    color: white;
}

.text-area {
    width: 332px;
    height: 49px;
    display: flex;
    align-items: center; 
    border-radius: 15px;
    border: #F2F2F2 1x solid;
}

.search-path {
    width: 14px;
    height: 18px;
    display: block;
}

#rechercher {
    display: block;
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    border: none;
    width: 132px;
    height: 49px;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    right: 49px;
    bottom: 0px;
}

/* search-filter */

.money, .man, .heart, .dog {
    width: 22px;
    height: 22px;
    fill: #0065FC;
    padding-left: 20px;
    padding-right: 10px;
}

.filter-fb {
     display: flex;
     margin-bottom: 35px;
     margin-left: 62px;
}

.filter-h3 {
    width: 54px;
    height: 21px;
}

.filter-h3 h3 {
    font-size: 18px;
    font-weight: 700; 
    line-height: 2.5;
}

.svg-filter-fb {
    display: flex;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    border: #F2F2F2 2px solid;
    position: relative;
}

.svg-filter-fb a {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.svg-filter-fb:hover {
    background-color: #DEEBFF;
}

.sz-money {
    width: 175px;
    height: 48px;
    margin-right: 43px;
    margin-left: 32px;
}

.sz-man {
    width: 136px;
    height: 48px;
    margin-right: 40px;
}

.sz-heart {
    width: 172px;
    height: 48px;
    margin-right: 36px;  
}

.sz-dog {
    width: 226px;
    height: 50px;
}

.pr {
    font-size: 17px;
    font-weight: 700;
}

/* search-info */

.search-info {
    display: flex;
    margin-bottom: 37px;
    margin-left: 59px;
    align-items: center;
}

.svg-info {
    width: 4px;
    height: 10px;
    fill: #0065FC;
    margin-right: 11px;
}

.p-info {
    font-size: 16px;
    font-weight: 400;
}

/* secion hébergements */

.section-heb {
    background-color: #F2F2F2;
    width: 880px;
    height: 626px;
    margin-left: 50px;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 60px;
    padding-top: 42px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 107px;
}

.section-heb h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 23px;
}

.card-h {
    width: 246px;
    height: 199px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    margin-right: 31px;
}

.card-h img {
    width: 246px;
    height: 124px;
    border-radius: 20px 20px 0 0;
    border: 5px solid white;
    object-fit: cover;
}

.card-h .title-h {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin-top: 4px;
    margin-bottom: 9px;
    margin-left: 16px;
}

.card-h .text-h {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 9px;
    margin-left: 16px;
}

.card-h a {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.btn-h {
    display: flex;
    border: none;
    background-color: white;
    margin-left: 16px;
    margin-right: 2px;
    margin-bottom: 11px;
}

.btn-h .star-g {
    fill: #F2F2F2;
}

.btn-h svg {
    width: 12px;
    height: 12px;
    fill: #0065FC;
   
}

.aff-plus {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.box-1 {
    display: flex;
    margin-bottom: 30px;
}

.box-2 {
    display: flex;
    margin-bottom: 40px;
}

/* aside */

.aside {
    width: 420px;
    height: 625px;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding-left: 37px;
    padding-top: 41px;
    margin-left: 40px;
    margin-right: 50px;
}

.heb-aside {
    display: flex;
    width: 1400px;
    height: 626px;
    justify-content: center;
}

.box-as {
    width: 343px;
    height: 144px;
    background-color: white;
    display: flex;
    margin-bottom: 33px;
    border-radius: 15px;
    box-shadow: 3px rgba(0, 0, 0, 0.1);
    position: relative;
}

.box-as img {
    width: 137px;
    height: 144px;
    border-radius: 20px 0 0 20px;
    border: white 5px solid;
    object-fit: cover;
    margin-right: 15px;
}

.box-as span {
    margin-left: 15px;
    margin-top: 16px;
}

.as-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}

.as-title h2 {
    font-size: 22px;
    font-weight: 700;
}

.title-as {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 7px;
}

.text-as {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 30px;
}

.btn-as {
    border: none;
    background-color: white;
}

.btn-as svg {
    width: 12px;
    height: 12px;
    padding-right: 2px;
    fill: #0065FC;
}

.btn-as .star-g {
    fill: #F2F2F2;
}

.as-svg {
    width: 18px;
    height: 15.75px;
    fill: #0065FC;
    margin-right: 42px;
}

.box-as a {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* section-activités */

.section-act {
    width: 1337px;
    height: 493px;
    margin-bottom: 61px;
}

.act-title {
    margin-left: 50px;
    margin-top: 60px;
    margin-bottom: 18.47px;
    font-size: 22px;
    font-weight: 700;
}

.card-act {
    width: 302px;
    height: 444.51px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
    position: relative;
}

.card-act img {
    height: 389px;
    width: 302px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.act-p h3 {
    font-size: 16px;
    font-weight: 700;
    margin-left: 19px;
    margin-top: 20px;
}

.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.card-4 {
    display: flex;
    height: 493px;
    justify-content: space-between;
    margin-left: 50px;
}

/* footer */

.footer {
    width: 1339px;
    height: 225px;
    display: flex;
    background-color: #F2F2F2;
    margin-left: 29px;
    padding-top: 45px;
    padding-left: 70px;
}

.footer-box-1 {
    margin-left: 70px;
}

.footer-box-2 {
    margin-right: 239px;
    margin-left: 230px;
}

.footer h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer li {
    margin-bottom: 12px;
}

.footer a {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

/* responsive */

/* responsive tablette */

@media screen and (min-width:768px) and (max-width:991px) {
    
    .container {
        width: 991px;
    }

    /* header */

    .logo-nav ul {
        margin-left: 550px;
    }

    /* filter */

    .filter-fb {
        width: 846px;
    }

    .svg-filter-fb {
        margin-right: 22px;
    }

    /* aside */

    .heb-aside {
        display: inline;
    }

    .aside {
        width: 883px;
        height: 278px;
        margin-left: 50px;
    }

    .pop-fb {
        display: flex;
    }

    .box-as {
        margin-right: 20px;
        width: 252px;
        height: 144px;
    }

    .title-as {
        font-size: 14px;
    }

    .text-as {
        font-size: 13px;
    }

    /* activites */

    .section-act {
        width: 878px;
        height: 331px;
    }

    .card-act {
        width: 182px;
        height: 267px;
    }

    .act-img img {
        width: 182px;
        height: 211px;
    }

    .act-p {
        width: 182px;
        height: 56px;
    }

    /* footer */

    .footer {
        width: 879.65px;
        height: 225px;
    }

    .footer-box-2 {
        margin-left: 83px;
        margin-right: 83px;
    }
}

/* responsive mobile */

@media screen and (max-width:767px) {
    
    .container {
        width: 375px;
        height: 3950px;
    }

    /* header */

    .logo-nav {
        display: flex;
        flex-direction: column;
    }

    .logo {
        text-align: center;
    }

    .header-ul {
        display: flex;
    }

    .header-li-1 {
        width: 123px;
        height: 17.35px;
        margin-left: 33px;
        border-bottom: #0065FC 3px solid;
        padding-bottom:80px;
    }

    .header-li-2 {
        width: 63px;
        height: 17.54px;
        border-bottom: #0065FC 3px solid;
        padding-bottom:80px;
    }

    .header-ul .link:hover {
        color: #0065FC;
    }

    /* search */

    .section-search {
        padding-top: 31px;
    }

    #rechercher {
        display: none;
    }

    /* aside */

    .aside {
        width: 375px;
        height: 580px;
    }

    .box-as {
        width: 334px;
        height: 144px;
    }

    /* filter */

    .filter-fb {
        display: grid;
        grid-template-rows: 5fr 5fr;
        grid-template-columns: repeat (3,50px);
        grid-template-areas: 
        "filter-h3 ."
        "sz-money sz-man"
        "sz-heart sz-dog";
    }
   
    .filter-h3 {
        grid-area: filter-h3;
    }

    .sz-man {
        grid-area: sz-man;
    }

    .sz-dog {
        grid-area: sz-dog;
    }

    .sz-heart {
        grid-area: sz-heart;
    }

    .sz-money {
        grid-area: sz-money;
    }

    /* section-hébergements */

    .heb-aside {
        width: 375px;
        height: 1299px;
    }

    .box-1 {
        flex-direction: column;
    }
    
    .box-2 {
        flex-direction: column;
    }

    .aff-plus {
        display: none;
    }

    /* section-activités */

    .section-act {
        width: 334px;
        height: 886px;
    }

    .card-4 {
        display: flex;
        flex-direction: column;
    }

    .card-act {
        width: 334px;
        height: 190px;
    }

    /* footer */

    .footer {
        width: 375px;
        height: 491px;
        flex-direction: column;
    }


}
